<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Classification Using Machine Learning</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- Link the CSS file from the static folder -->
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Text Classification Using Machine Learning</h1>
    <textarea id="inputText" placeholder="Enter your text here..."></textarea><br>
    <button onclick="classifyText()">Classify</button>
    <div id="result" class="result"></div>

    <footer>© 2024 Text Classification Project</footer>

    <!-- Link the JavaScript file from the static folder -->
    <script src="static/script.js"></script>
</body>
</html>
